USE [QuanLyThuyCung_K235480106080]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_PhanLoaiUuTienChamSoc]    Script Date: 03/05/2026 1:40:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo hàm đa câu lệnh để phân loại mức độ ưu tiên chăm sóc
CREATE FUNCTION [dbo].[fn_PhanLoaiUuTienChamSoc]()
RETURNS @BangKetQua TABLE (
    [MaSV] INT,
    [TenLoai] NVARCHAR(200),
    [TinhTrang] NVARCHAR(100),
    [MucDoUuTien] NVARCHAR(100)
)
AS
BEGIN
    -- Bước 1: Đổ dữ liệu cơ bản vào bảng tạm @BangKetQua
    INSERT INTO @BangKetQua ([MaSV], [TenLoai], [TinhTrang], [MucDoUuTien])
    SELECT 
        s.[maSinhVat], 
        s.[tenLoai], 
        s.[tinhTrangSucKhoe],
        N'Chưa xác định' -- Giá trị tạm thời
    FROM [sinhVat] s;

    -- Bước 2: Cập nhật logic phân loại phức tạp dựa trên tình trạng sức khỏe
    UPDATE @BangKetQua
    SET [MucDoUuTien] = N'Cần chế độ đặc biệt'
    WHERE [TinhTrang] = N'Yếu' OR [TinhTrang] = N'Đang theo dõi';

    -- Bước 3: Cập nhật logic dựa trên chi phí (sử dụng Scalar Function đã viết ở phần trước)
    UPDATE @BangKetQua
    SET [MucDoUuTien] = N'Cần tối ưu chi phí'
    WHERE dbo.fn_TinhTongChiPhiSinhVat([MaSV]) > 400 
      AND [MucDoUuTien] = N'Chưa xác định';

    -- Bước 4: Những trường hợp còn lại
    UPDATE @BangKetQua
    SET [MucDoUuTien] = N'Chăm sóc bình thường'
    WHERE [MucDoUuTien] = N'Chưa xác định';

    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTongChiPhiSinhVat]    Script Date: 03/05/2026 1:40:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo hàm tính tổng chi phí thức ăn của một sinh vật cụ thể
CREATE FUNCTION [dbo].[fn_TinhTongChiPhiSinhVat] (@idSV INT)
RETURNS MONEY
AS
BEGIN
    DECLARE @tongTien MONEY;

    -- Tính tổng chi phí từ bảng lichChoAn dựa theo mã sinh vật truyền vào
    SELECT @tongTien = SUM([chiPhiBuaAn]) 
    FROM [lichChoAn] 
    WHERE [maSinhVat] = @idSV;

    -- Nếu sinh vật chưa có dữ liệu cho ăn (NULL), trả về 0
    RETURN ISNULL(@tongTien, 0);
END;
GO
/****** Object:  Table [dbo].[beNuoi]    Script Date: 03/05/2026 1:40:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[beNuoi](
	[maBe] [int] IDENTITY(1,1) NOT NULL,
	[tenBe] [nvarchar](100) NOT NULL,
	[theTichKhoi] [float] NULL,
	[loaiMoiTruong] [nvarchar](50) NULL,
	[nhietDoDuyTri] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[maBe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sinhVat]    Script Date: 03/05/2026 1:40:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sinhVat](
	[maSinhVat] [int] IDENTITY(1,1) NOT NULL,
	[tenLoai] [nvarchar](200) NOT NULL,
	[ngayNhapVien] [date] NULL,
	[tinhTrangSucKhoe] [nvarchar](100) NULL,
	[giaTriBaoHiem] [money] NULL,
	[maBe] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maSinhVat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DanhSachSinhVatTheoMoiTruong]    Script Date: 03/05/2026 1:40:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo hàm lấy danh sách sinh vật theo loại môi trường nước
CREATE FUNCTION [dbo].[fn_DanhSachSinhVatTheoMoiTruong] (@loaiMT NVARCHAR(50))
RETURNS TABLE
AS
RETURN 
(
    -- Câu lệnh SELECT duy nhất trả về kết quả dưới dạng bảng
    SELECT 
        S.[maSinhVat], 
        S.[tenLoai], 
        B.[tenBe], 
        B.[loaiMoiTruong],
        S.[tinhTrangSucKhoe]
    FROM [sinhVat] S
    INNER JOIN [beNuoi] B ON S.[maBe] = B.[maBe]
    WHERE B.[loaiMoiTruong] = @loaiMT
);
GO
/****** Object:  Table [dbo].[lichChoAn]    Script Date: 03/05/2026 1:40:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lichChoAn](
	[maLich] [int] IDENTITY(1,1) NOT NULL,
	[maSinhVat] [int] NULL,
	[thoiGianChoAn] [datetime] NOT NULL,
	[luongThucAnKg] [float] NULL,
	[chiPhiBuaAn] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[maLich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log_Cá_Hải_Tượng]    Script Date: 03/05/2026 1:40:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_Cá_Hải_Tượng](
	[ID] [int] NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log_Cá_Hề_Nemo]    Script Date: 03/05/2026 1:40:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_Cá_Hề_Nemo](
	[ID] [int] NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log_Cá_Mập_Trắng]    Script Date: 03/05/2026 1:40:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_Cá_Mập_Trắng](
	[ID] [int] NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[beNuoi] ON 

INSERT [dbo].[beNuoi] ([maBe], [tenBe], [theTichKhoi], [loaiMoiTruong], [nhietDoDuyTri]) VALUES (1, N'Đại dương vô cực', 1500.5, N'Nước mặn', 24.5)
INSERT [dbo].[beNuoi] ([maBe], [tenBe], [theTichKhoi], [loaiMoiTruong], [nhietDoDuyTri]) VALUES (2, N'Rạn San Hô', 300, N'Nước mặn', 26.8)
INSERT [dbo].[beNuoi] ([maBe], [tenBe], [theTichKhoi], [loaiMoiTruong], [nhietDoDuyTri]) VALUES (3, N'Vùng nước Amazon', 450.2, N'Nước ngọt', 28)
SET IDENTITY_INSERT [dbo].[beNuoi] OFF
GO
SET IDENTITY_INSERT [dbo].[lichChoAn] ON 

INSERT [dbo].[lichChoAn] ([maLich], [maSinhVat], [thoiGianChoAn], [luongThucAnKg], [chiPhiBuaAn]) VALUES (1, 1, CAST(N'2026-05-02T08:30:00.000' AS DateTime), 15.5, 450.0000)
INSERT [dbo].[lichChoAn] ([maLich], [maSinhVat], [thoiGianChoAn], [luongThucAnKg], [chiPhiBuaAn]) VALUES (2, 2, CAST(N'2026-05-02T09:00:00.000' AS DateTime), 0.2, 10.0000)
INSERT [dbo].[lichChoAn] ([maLich], [maSinhVat], [thoiGianChoAn], [luongThucAnKg], [chiPhiBuaAn]) VALUES (3, 1, CAST(N'2026-05-02T17:00:00.000' AS DateTime), 12, 380.0000)
SET IDENTITY_INSERT [dbo].[lichChoAn] OFF
GO
SET IDENTITY_INSERT [dbo].[sinhVat] ON 

INSERT [dbo].[sinhVat] ([maSinhVat], [tenLoai], [ngayNhapVien], [tinhTrangSucKhoe], [giaTriBaoHiem], [maBe]) VALUES (1, N'Cá Mập Trắng', CAST(N'2025-12-20' AS Date), N'Khỏe mạnh', 15000.0000, 1)
INSERT [dbo].[sinhVat] ([maSinhVat], [tenLoai], [ngayNhapVien], [tinhTrangSucKhoe], [giaTriBaoHiem], [maBe]) VALUES (2, N'Cá Hề Nemo', CAST(N'2026-01-15' AS Date), N'Khỏe mạnh', 200.0000, 2)
INSERT [dbo].[sinhVat] ([maSinhVat], [tenLoai], [ngayNhapVien], [tinhTrangSucKhoe], [giaTriBaoHiem], [maBe]) VALUES (3, N'Cá Hải Tượng', CAST(N'2026-02-10' AS Date), N'Khỏe mạnh', 8000.0000, 3)
SET IDENTITY_INSERT [dbo].[sinhVat] OFF
GO
ALTER TABLE [dbo].[sinhVat] ADD  DEFAULT (getdate()) FOR [ngayNhapVien]
GO
ALTER TABLE [dbo].[lichChoAn]  WITH CHECK ADD  CONSTRAINT [FK_LichChoAn_SinhVat] FOREIGN KEY([maSinhVat])
REFERENCES [dbo].[sinhVat] ([maSinhVat])
GO
ALTER TABLE [dbo].[lichChoAn] CHECK CONSTRAINT [FK_LichChoAn_SinhVat]
GO
ALTER TABLE [dbo].[sinhVat]  WITH CHECK ADD  CONSTRAINT [FK_SinhVat_BeNuoi] FOREIGN KEY([maBe])
REFERENCES [dbo].[beNuoi] ([maBe])
GO
ALTER TABLE [dbo].[sinhVat] CHECK CONSTRAINT [FK_SinhVat_BeNuoi]
GO
ALTER TABLE [dbo].[beNuoi]  WITH CHECK ADD  CONSTRAINT [CK_NhietDoAnToan] CHECK  (([nhietDoDuyTri]>=(0) AND [nhietDoDuyTri]<=(45)))
GO
ALTER TABLE [dbo].[beNuoi] CHECK CONSTRAINT [CK_NhietDoAnToan]
GO
ALTER TABLE [dbo].[lichChoAn]  WITH CHECK ADD  CONSTRAINT [CK_LuongThucAnDuocCap] CHECK  (([luongThucAnKg]>(0)))
GO
ALTER TABLE [dbo].[lichChoAn] CHECK CONSTRAINT [CK_LuongThucAnDuocCap]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoChiTietNuoiDuong]    Script Date: 03/05/2026 1:40:33 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BaoCaoChiTietNuoiDuong]
AS
BEGIN
    -- Thiết lập định dạng ngày tháng hiển thị cho đẹp (tùy chọn)
    SET NOCOUNT ON; 

    -- Thực hiện truy vấn JOIN 3 bảng để lấy thông tin tổng hợp
    SELECT 
        B.[tenBe] AS [TenBeNuoi],
        S.[tenLoai] AS [TenSinhVat],
        S.[tinhTrangSucKhoe] AS [SucKhoe],
        L.[thoiGianChoAn] AS [NgayGioAn],
        L.[luongThucAnKg] AS [LuongAn_Kg],
        L.[chiPhiBuaAn] AS [ChiPhi]
    FROM [beNuoi] B
    INNER JOIN [sinhVat] S ON B.[maBe] = S.[maBe]
    INNER JOIN [lichChoAn] L ON S.[maSinhVat] = L.[maSinhVat]
    ORDER BY L.[thoiGianChoAn] DESC; -- Sắp xếp lịch ăn mới nhất lên đầu
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemLichChoAn]    Script Date: 03/05/2026 1:40:33 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemLichChoAn]
    @maSV INT,
    @thoiGian DATETIME,
    @luongAn FLOAT,
    @chiPhi MONEY
AS
BEGIN
    -- 1. Kiểm tra sinh vật có tồn tại không
    IF NOT EXISTS (SELECT 1 FROM [sinhVat] WHERE [maSinhVat] = @maSV)
    BEGIN
        PRINT N'Lỗi: Mã sinh vật không tồn tại trong hệ thống!';
        RETURN;
    END

    -- 2. Kiểm tra logic lượng thức ăn (Giả sử tối đa là 50kg)
    IF @luongAn > 50
    BEGIN
        PRINT N'Lỗi: Lượng thức ăn quá lớn (vượt ngưỡng 50kg), vui lòng kiểm tra lại!';
        RETURN;
    END

    -- 3. Thực hiện chèn dữ liệu nếu mọi điều kiện hợp lệ
    INSERT INTO [lichChoAn] ([maSinhVat], [thoiGianChoAn], [luongThucAnKg], [chiPhiBuaAn])
    VALUES (@maSV, @thoiGian, @luongAn, @chiPhi);

    PRINT N'Thêm lịch cho ăn thành công!';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TinhNganSachBeNuoi]    Script Date: 03/05/2026 1:40:33 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TinhNganSachBeNuoi]
    @idBe INT,
    @tongNganSach MONEY OUTPUT -- Tham số trả kết quả ra ngoài
AS
BEGIN
    -- Kiểm tra bể có tồn tại không
    IF NOT EXISTS (SELECT 1 FROM [beNuoi] WHERE [maBe] = @idBe)
    BEGIN
        SET @tongNganSach = 0;
        PRINT N'Lỗi: Không tìm thấy bể nuôi này!';
        RETURN;
    END

    -- Tính toán: Tổng Bảo hiểm sinh vật trong bể + Tổng chi phí các bữa ăn
    DECLARE @tienBaoHiem MONEY = 0;
    DECLARE @tienThucAn MONEY = 0;

    -- 1. Tính tổng bảo hiểm của các sinh vật thuộc bể này
    SELECT @tienBaoHiem = SUM([giaTriBaoHiem]) 
    FROM [sinhVat] 
    WHERE [maBe] = @idBe;

    -- 2. Tính tổng chi phí thức ăn của các sinh vật thuộc bể này
    SELECT @tienThucAn = SUM(L.[chiPhiBuaAn])
    FROM [lichChoAn] L
    JOIN [sinhVat] S ON L.[maSinhVat] = S.[maSinhVat]
    WHERE S.[maBe] = @idBe;

    -- Gán tổng giá trị vào biến OUTPUT (Xử lý trường hợp NULL bằng 0)
    SET @tongNganSach = ISNULL(@tienBaoHiem, 0) + ISNULL(@tienThucAn, 0);

    PRINT N'Đã tính toán xong ngân sách cho bể số: ' + CAST(@idBe AS NVARCHAR(10));
END;
GO
/****** Object:  Trigger [dbo].[trg_B_to_A]    Script Date: 03/05/2026 1:40:33 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_B_to_A]
ON [dbo].[lichChoAn]
AFTER UPDATE
AS
BEGIN
    PRINT N'--> Trigger B_to_A đang chạy...';
    UPDATE [sinhVat]
    SET [tinhTrangSucKhoe] = N'Đã kiểm tra'
    FROM [sinhVat] S
    INNER JOIN inserted I ON S.[maSinhVat] = I.[maSinhVat];
END;
GO
ALTER TABLE [dbo].[lichChoAn] ENABLE TRIGGER [trg_B_to_A]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatSucKhoeSauKhiAn]    Script Date: 03/05/2026 1:40:33 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CapNhatSucKhoeSauKhiAn]
ON [dbo].[lichChoAn]
AFTER INSERT -- Kích hoạt sau khi thêm dữ liệu vào bảng lịch cho ăn
AS
BEGIN
    -- Cập nhật tình trạng sức khỏe trong bảng sinhVat
    -- Dựa trên mã sinh vật vừa được chèn vào trong bảng ảo 'inserted'
    UPDATE [sinhVat]
    SET [tinhTrangSucKhoe] = N'Khỏe mạnh'
    FROM [sinhVat] S
    INNER JOIN inserted I ON S.[maSinhVat] = I.[maSinhVat];

    PRINT N'Hệ thống: Đã tự động cập nhật trạng thái Khỏe mạnh cho sinh vật vừa ăn.';
END;
GO
ALTER TABLE [dbo].[lichChoAn] ENABLE TRIGGER [trg_CapNhatSucKhoeSauKhiAn]
GO
/****** Object:  Trigger [dbo].[trg_A_to_B]    Script Date: 03/05/2026 1:40:33 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_A_to_B]
ON [dbo].[sinhVat]
AFTER UPDATE
AS
BEGIN
    PRINT N'--> Trigger A_to_B đang chạy...';
    UPDATE [lichChoAn]
    SET [chiPhiBuaAn] = [chiPhiBuaAn] + 1 -- Tăng nhẹ chi phí làm dấu
    FROM [lichChoAn] L
    INNER JOIN inserted I ON L.[maSinhVat] = I.[maSinhVat];
END;
GO
ALTER TABLE [dbo].[sinhVat] ENABLE TRIGGER [trg_A_to_B]
GO
